/* --- TABELLA: Pulsanti d'azione (Fix Contrasto Light & Dark Mode) --- */

/* --- 1. CONFIGURAZIONE DI DEFAULT (LIGHT MODE) --- */

.btn-outline-warning {
    color: #212529 !important;
    border-color: #ffc107 !important;
}

/* --- 2. CONFIGURAZIONE IN DARK MODE --- */

[data-bs-theme="dark"] .btn-outline-warning {
    color: #ffc107 !important;
}


/* --- 3. STATO HOVER / ACTIVE (PER ENTRAMBI I TEMI) --- */

.btn-outline-primary:hover, .btn-outline-primary:active,
.btn-outline-warning:hover, .btn-outline-warning:active,
.btn-outline-danger:hover, .btn-outline-danger:active {
    color: #000000 !important;
}

#filter-categories .list-group-item.active,
#filter-tags .btn-primary {
    color: #000000 !important;
}